* {
    padding: 0;
    }
    
    body {
    
    box-sizing: border-box;
    background-color: #f5f5f5;
    }
    
    .header {
    
    display: flex;
    }
    
    .author {
    margin-left: 15px;
    vertical-align: top;
    }
    
    
    #great-text {
    display: block;
    width: 640px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 177px;
    right:  118px;
    color: rgb(49, 15, 240);
    
    }
    
    
    h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    }
    
    h3 {
    text-align: center;
    color: #2c3e50;
    }
    
    hr {
    border: none;
    color: #eee;
    background-color: #eee;
    height: 1px;
    }
    
    
    
    p {
    text-align: left;
    color: #34495e;
    }
    
    a {
    text-decoration: none;
    color: #3498db;
    }
    
    li {
    margin: 10px 0;
    list-style-type: none;
    }
    
    img {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    }
    
    
    
    .main .about-me {
    position: relative;
    }
  .photo{ width: 300px;
    
    background: #f6f6f6;
    }

    .divider_blue {
    display: block;
    height: 2px;
    background-color: #006efe;
    margin-bottom: 1em;
    }
    .container .aside .education__place {
    font-weight: 600;
    font-size: 20px;
    }
    .container .aside .education__descr {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    }
    footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(221, 36, 166);
    background-color: #006efe;
}